.vscode
.vs
.idea
__pycache__
handle/__pycache__
platforms/__pycache__
drivers/chromedriver.exe
geckodriver.exe
geckodriver
geckodriver.log
ver_old/geckodriver.log
ver_old/geckodriver.exe
ver_old/.vscode
ver_old/.vs
ver_old/__pycache__
ver_old/handle/__pycache__
ver_old/platforms/__pycache__
ver_old/datos
handle/__init__.pyc
piracy/__init__.pyc
platforms/__init__.pyc
produ/__init__.pyc
env
.env
.venv
envagentes
log/
*.pyc
*.log
output
data/
datos/
script.log
root.log
sagai.csv
get-pip.py
platforms/scrapingclaro.py
bb.pem
misato
misato.pub
bb-private
bb-private.ppk
bb-private.pem
testing
kaji
kaji.pub
bb-private
.DS_Store
handle/notepad.py
*.csv
*.xlsx
apuntes.txt
.data_analysis
*.ipynb
excel_exports
pluto2.py
allblk_panda.py
drivers/chromedriver.exe
